.bookingDivTooltip{
    display: none !important;
    left: 0 !important;
    top: -5px !important;
    width: auto !important;
    z-index: 10;
}

.bookingDiv:hover .bookingDivTooltip {
    display: block !important;
}
.bookingDiv:hover .bookingDivTooltip .date-string {
    display: block;
}

.bookingDiv:after {
    position: absolute;
    content: '';
    height: 15px;
    width: 100%;
    top: -15px;
}
.bookingDivTooltip .info-booked-person {
    width: auto !important;
    margin-top: -70px;
    background: #ffffff;
    border: 2px solid #E0E0E0;
    font-size: 14px;
    display: block !important;
    white-space: nowrap;
}
.bookingDivTooltip:after {
    display: none;
}

.bookingDivTooltip:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    border: 2px solid #E0E0E0;
    background: #ffffff;
    left: 10px;
    bottom: 4px;
    border-color: #E0E0E0 #E0E0E0 transparent transparent;
}
.bookingDivTooltip .info-booked-person {
    background: #ffffff;
    padding: 10px;
}



.table-load-items {
    position: absolute;
    top: 1px;
    width: 100%;
    z-index: 1;
}
.villa-load-table{
    overflow: auto;
    padding-top: 47px;
}
.villa-load-table .villa-load-info{
    background: #0084ba;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 14px 0;
    width: max-content;
}
.villa-load-table .villa-load-info p{
    border: 0;
    padding: 0;
    text-align: center;
}
.villa-info-booking{
    padding-bottom: 50px;
    position: relative;
    width: max-content;
    overflow: hidden;
}
.villa-load-date{
    display: flex;
}
.villa-load-date p{
    width: 75px;
    box-sizing: border-box;
}
.villa-load-table p{
    border: 1px solid #afafaf;
    border-width: 0 0 1px 1px;
    padding: 5px 20px;
    margin: 0;
}
.villa-load-table .villa-hotel-rooms{
    padding: 0;
    max-width: 100px;
    min-width: 100px;
}
.villa-load-table p:last-child{
    border-right: 1px solid #afafaf;
}
.room_title{
    display: flex;
}
p.quantity-rooms {
    min-width: 59px;
    line-height: 38px;
    text-align: center;
}
p.villa-hotel-sleepeing-area{
    min-width: 130px;
    max-width: 130px;
    text-align: center;
}
p.type-rooms{
    text-align: center;
    max-width: 89px;
    min-width: 89px;
    text-overflow: ellipsis;
}




.form-block{
    margin-bottom:20px;
}
.cmb-th label{
    text-align: left;
    display: block;
}
.form-block *{
    vertical-align: middle;
}

.villa-load-table{
    border-collapse: collapse;
    width:100%;
    position: relative;
    overflow: auto;
}
/*.villa-load-table thead{
    background: #0084ba;
    color: #fff;
}*/
/*.villa-load-table th{
    border: 1px solid #0084ba;
    padding: 5px 20px;
}*/
.villa-load-table td {
    border: 1px solid #afafaf;
    text-align: center;
    padding: 5px;
    height: 30px;
}
.villa-load-table a{
    text-decoration: none;
    outline: none;
    max-width: 100%;
    height: 48px;
}
.date-string {
    display: none;
}
.villa-load-table a:focus, .villa-load-table a:active, .villa-load-table a:hover{
    outline: none;
    box-shadow: none;
}
.villa-load-table a:hover{
    text-decoration: underline;
}
.villa-load-table .booking-status-pending{
    background-color: red;
    color: #fff;
    padding: 5px 0;
    box-sizing: border-box;
}
.villa-load-table .booking-status-pending a{
    color: #fff;
}
.postbox #villa_repeat_group_repeat .cmb-type-title {
    width:100%;
    position: relative;
}
.villa-load-table .booking-status-processed{
    background-color: yellow;
}
.villa-load-table .booking-status-processed a{
    color: #000;
}
.villa-load-table .booking-status-waiting_arrival{
    background-color: yellowgreen;
}
.villa-load-table .booking-status-waiting_arrival a{
    color: #000;
}
.villa-load-table .booking-status-in_progress{
    background-color: green;
}
.villa-load-table .booking-status-in_progress a{
    color: #fff;
}
.villa-load-table .booking-status-waiting_departure{
    background-color: darkgreen;
}
.villa-load-table .booking-status-waiting_departure a{
    color: #fff;
}
.villa-load-table .booking-status-finished{
    background-color: darkslategrey;
}
.villa-load-table .booking-status-finished a{
    color: #fff;
}
.villa-load-table .booking-status-canceled{
    background-color: red;
}
.villa-load-table .booking-status-canceled a{
    color: #fff;
}
td{
    position: relative;
}
td a{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
.cmb2-metabox button.dashicons-before.dashicons-no-alt.cmb-remove-group-row:not([disabled]){
    z-index: 1;
    cursor: pointer;
    color: #a00;
    opacity: 1;
    background: none;
    border: none;
    top: 5px;
}
.remodal{
    padding: 35px 10px;
}
.postbox.no_border{
    border:none;
}
.cmb2-wrap.form-table .cmb2-id-booking-services-repeat-group .cmb-row .inside .cmb-row.cmb-type-select {
    min-height: 61px!important;
}
#hotel_loud_modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50px;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content-top {
    background-color: #fefefe;
    margin: 35px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 1100px; /* Could be more or less, depending on screen size */
    position: relative;
}
.close {
    color: red;
    right: 10px;
    background: transparent;
    top: 0;
    z-index: 9;
    font-size: 28px;
    position: absolute;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
/*.cmb2-postbox .cmb2-wrap > .cmb-field-list > .cmb2-id-booking-currency {*/
/*position: absolute;*/
/*right:auto;*/
/*left:0;*/
/*top: -25px!important;*/
/*}*/
/*.cmb2-id-booking-pay-type {*/
/*top: -5px!important;*/
/*right:auto;*/
/*left:0;*/
/*}*/
/*.cmb2-id-booking-room-name{*/
/*top: 27px!important;*/
/*right:auto;*/
/*left:0;*/
/*}*/

.close.booking_modal_submit_button{
    position: relative;
    cursor: pointer;
    font-weight: normal;
}

.booking_modal_submit_button{
    position: relative;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    height: 30px;
    line-height: 28px;
    padding: 0 12px 2px;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}
.open_booking_load,.booking-status-pending{
    cursor: pointer;
}
.cmb2-id-booking-room-name select{
    /*border: none;*/
    /*color: #0085ba;*/
    /*background: #fff;*/
    /*font-weight: 600;*/
    /*font-size: 18px!important;*/
    /*box-shadow: none;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.cmb2-id-booking-room-name select::-ms-expand {
    display: none;
}
.cmb-row.cmb-type-checkbox.cmb2-id-booking-excursion-paid, .cmb-row.cmb-type-checkbox.cmb2-id-booking-services-paid, .cmb-row.cmb-type-checkbox.cmb2-id-booking-transfer-paid, .cmb-row.cmb-type-checkbox.cmb2-id-booking-room-paid {
    width: 20% !important;
}

.cmb2-postbox .cmb2-wrap > .cmb-field-list > .cmb2-id-booking-currency {
    justify-content: flex-start!important;
}



.first {
    right: 0;
    width: 50%;
}

.last {
    left: 0;
    width: 50%;
    border-right: 1px solid black;
}

#hellopreloader {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*min-width: 1000px;*/
    background: rgba(44, 62, 80, 0.8) url(../img/puff.svg) center center no-repeat;
    background-size: 41px;
    background-position: 50% 40%;
}
.preloader{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f4f4f4;
}
.postbox .cmb2-metabox .cmb-type-text.cmb2-id-booking-type {
    position: relative;
    width: 100%;
    top: 0;
}

.bookingDiv {
    position: absolute;
    background: #000;
    display: block;
}

.bookingDiv .bookingDivTooltip {
    display: none;
}

    /*.bookingDiv:hover .date-string {*/
    /*display: block;*/
/*}*/

.villa-load-table .booking-div {
    display: none;
    word-wrap: break-word;
    overflow: hidden;
    z-index: 1;
    padding: 5px;
    top: 0px;
    width: 93%;
    position: absolute;
    border-top: 3px solid blue;
    background: #F2E8E8;
    left: 35px;
}

.villa-load-table p.ralative_block {
    text-align: center;
    position: relative;
    max-width: 74px;
    min-width: 74px;
    padding: 0;

}

span.booking-id {
    line-height: 48px;
}

.villa-load-table p.ralative_block:hover span.booking-id {
    display: none;
}

.villa-load-table p.ralative_block:hover .booking-div {
    display: inline-block;
}


/*COLOR STATUS*/
td.room-status:before{
    content: '';
    position: absolute;
    top: 5px;
    width: 4px;
    height: auto;
    left: 5px;
    bottom: 5px;
}
td.status-bad:before{
    background: red;
}
.info-booked-person{
    box-sizing: border-box;
    /*width: 250px;*/
    width: 100%;
    height: 100%;
    padding: 0 5px;
    /*height: 40px;*/
    display: block;
    border-top: 3px solid blue;
    background: #F2E8E8;
    /*position: absolute;*/
}





